/** NOTE FOR MARGIN PARAMETERS  */
/* top | right | bottom | left */
/* Media Query - Make buttons smaller and text smaller so that there is no 'wrapping' of the letters in a word into a column which gives the WHITE SPACE at the bottom */

/* .audio-player {
    position: sticky;
    margin-top: auto;
    margin-bottom: 0;
    bottom: 0;
    background-color: #9d9d9d;
    border-top: 1px solid #cecece;
    z-index: 999;
}
*/

/** FIXES AUDIO PLAYER TO STICK TO THE BOTTOM!!!!!! */
.audio-player {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #9d9d9d;
    border-top: 1px solid #cecece;
    z-index: 999;
}

/*! wrapper of the components in the index.js (audioplayer component) */
.inner {
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    height: 48px;
    background-color: #f2f2f2;
}

/** wrapper for the controls */
.controls-container {
    display: flex;
    justify-content: space-between;
}

/* container for all the control buttons */
.controls {
    margin-right: 10px;

}
.controls > button {
   border: none;
   margin-right: 5px;
   /* background-color: #999; */
   background-color: #f2f2f2;
   cursor: pointer;
   font-size: 15px;
}

/* container for the volume bar and button icon */
.volume {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 20px;
    margin: 0 10px 0 10px;
}

.volume-button {
    border: none;
    font-size: 20px;
    /* background-color: #999; */
    background-color: #f2f2f2;
}

/* container for the current time and duration of the song */
.progress-bar {
    display: flex;
    max-height: 6px;
    justify-content: center;
    align-items: center;
}

.time {
    font-size: 14px;
}



/** display song container for everything below this line*/
.display-song__main-container {
    width: 340px;
    padding: 0 10px;
}

.display-song__container{
    display: flex;
    height: 100%;
    align-items: center
}

/* ! THIS IS LITERALLY THE CONTAINER WRAPPING THE DIV THATS WRAPPING THE IMAGE */
.audio-info {
    max-width: 20px;
    /* max-height: 20px; */
}

/* ! BUT THIS DOESNT WORK - IT DID BEFORE BUT NOT ANYMORE - WHY???? */
.audio-image > img {
    max-width: 20px;
    /* max-height: 20px; */
    object-fit: contain;
    margin: 0 10px 0 0; /* adds margin right to space between img and text' */
}

/* wrappper for title and displayname */
.audio-text {
    display: flex;
    flex-direction: column;
    margin-top: 0;
    margin-left: 8px;
    gap: 6px
}

.displayName{
    max-height: 10px;
    font-size: 12px;
    color: #666;
    /* line-height: 1px; */
}

.title {
    /* max-height: 10px; */
    font-size: 12px;
    /* line-height: 2px; */
    overflow: hidden;
}

.progress-bar > input[type='range'] {
    width: 500px;
    margin-right: 10px;
    margin-left: 10px;
}

.current {
    color: #f50;
}


input[type="range"] {
    -webkit-appearance: none; /* THIS MAKES IT SO YOUR SLIDER BAR DEFAULT CSS GOES AWAY AND YOU CAN STYLE IT ANY COLOR YOU WANT */
    appearance: none;
    outline: none;
    background-color: #f50;
    --range-progress: 0;
    height: 1px;
}

input[type="range"]::before {
    background-color: #f50;
    width: var(--range-progress);
}

/** Style the slider's "THUMB" */
input[type="range"]::-webkit-slider-thumb {
    /* Set the thumb color */
    /* background-color: black; */
    background-color: #f50;

    /* Set the dimensions */
    width: 8px;
    height: 8px;
    border-radius: 50%;

    /* Override the default thumb styles */
    -webkit-color: #f50;
    -webkit-appearance: none;
    appearance: none;
}



/* ******************************** */
