/** MAIN INDEX CONTAINER  */
.profile-container-main {
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: space-between;
}

.profile-container {
    display: flex;
    flex-direction: column;
    width: 65%;
    background-color: #fff;
    min-height: 100vh;
}

.profile-header-user-info-wrapper {
    display: flex;
    align-items: center;
    /* padding: 20px; */
    height: 240px;
    /* background: #e5e5e5; */
    width: 100%;
    z-index: 999;
}

.profile-content-container {
    display: flex;
    flex-direction: column;
    width: 65%;
}

#profile-content-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 0 25px;
}

#profile-info__container {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    /* padding: 0 20px; */
    width: 30%;
    border-left: 1px solid #999;
    padding-left: 30px;
}

#profile-right-content {
    display: flex;
    flex-direction: column;
    margin-left: 20rem;
    margin-top: 5rem;
}


/** REFERENCE: HOW TO SELECT SIBLINGS - DISCLAIMER: REPETITIVE CODE BUT THIS IS HOW YOU DO IT */
.profile-header-user-info {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}

.profile-header-user-info div:first-child {
    background-color: black;
    color: white;
    font-size: 24px;
    padding: 8px;
    width: fit-content;
}

.profile-header-user-info div:nth-child(2) {
    background-color: black;
    color: white;
    padding: 8px;
    width: fit-content;
}

.profile-header-user-info div:last-child {
    background-color: black;
    color: white;
    padding: 8px;
    width: fit-content;
}

/** END OF REFERENCE  */




/* .user-profile-bg-container > img {
    width: 100%;
    max-height: 380px;
    object-fit: cover;
    z-index: 0;
} */

/** How var and calc works
Top padding: The value of --spacing-4x.
Right padding: The calculated sum of --artwork-40x-size, --spacing-5x, two --spacing-4x, and 150px.
Bottom padding: The value of --spacing-4x.
Left padding: The value of --spacing-4x. */

/* !! This was hard to implement dynamically with the bg */
/* .profile-header-user-info-wrapper {
    display: flex;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-33%, -39%);
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 32px 574px 32px 32px;
    padding: var(--spacing-4x) calc(var(--artwork-40x-size) + var(--spacing-5x) + var(--spacing-4x) + var(--spacing-4x) + 150px) var(--spacing-4x) var(--spacing-4x);
    -moz-box-sizing: border-box;
    z-index: 20;
} */

/* .profile-waveform {
    position: absolute;
    top: 0;
    transform: translate(30px, 280px);
    width: 70%;
} */
.profile-header-picture {
    margin-right: 10px;
}
.profile-header-picture > img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    padding-left: 20px;
}

.profile-waveform > img {
    width: 70%;
}

.profile-linear-gradient {
    position: relative;
    height: 100%;
    z-index: 0;
}

.backgroundGradient-hidden {
    opacity: 0;
    z-index: 1;
    transition-delay: .3s;
}

.profile-linear-gradient-buffer{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 2;
    opacity: 1;
    transition: opacity .3s;
}

/** 'ALL' CONTENT  */
#profile-all-container {
    display: flex;
    flex-direction: column;
}

/** NAV-BAR */
.profile-navbar__main {
    display: flex;
    flex-direction: column;
}

.profile-navbar__left {
    display: flex;
    gap: 10px;
    cursor: pointer;
}

/*! These hover & active effects work as intended but are only temp */
/*! You need a JS Function to make the effect linger if active */
.profile-navbar__left > div:hover {
    border-bottom: 2px solid #f50;
}

.profile-navbar__left > div:active {
    border-bottom: 2px solid #f50;
}

.profile-navbar__right {
    display: flex;
    gap: 3px;
}

.profile-navbar__right > button:first-child {
    background-color: #f50;
    border: 1px solid #999;
    border-radius: 4px;
    color: white;
}

.profile-navbar__right > button:nth-child(n+2):nth-child(-n+4) {
    background-color: white;
    border: 1px solid #999;
    border-radius: 4px;
}

.profile-navbar__item-active {
    border-bottom: 2px solid #f50;
}

.profile-navbar__container {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

/** LIKES  */
#likes-main__container {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 20px;
}

.likes-sub__container {
    display: flex;
    justify-content: space-between ;
}

.liked-songs-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/** LATEST COMMENTS  */
.latest-comments-top {
    display: flex;
    justify-content: space-between;
}

.latest-comments-top > div, .latest-comments-top > div > a {
    color: #999;
    text-decoration: none;
}

hr {
    border-color: #999;
    height: 1px;
}

.divider {
    background-color: #999;
    height: 1px;
    margin-top: 5px;
}

.divider2 {
    background-color: #999;
    height: 100%;
    width: 1px;
    margin-bottom: 15px;
}

#user-comment__container2 {
    display: flex;
    /* justify-content: space-between; */
    margin-bottom: 15px;
    margin-top: 15px;
    gap: 50px;
}

.user-delete2 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px; height: 25px;
    background-color: white;
    border: 1px solid #999;
    border-radius: 4px;
}

.user-time-delete {
    display: flex;
    justify-content: flex-end;
    width: 30%;
}

#user-comment__container2 > * {
    color: #999
}
