#recently-played__container {
    display: flex;
    flex-direction: column;
}
#recently-played__songs {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    row-gap: 20px;
}

.recently-played__images {
    width: 150px;
    height: 150px;
}

#recently-played__each-song-container {
    margin: 15px;
}
