/* TODO Add site wide styles */

/** Orange Color: #f50 */
/** DISPLAYNAME COLOR: #999  */
/** LIGHT GRAY BG COLOR #717070 */
/* Everything else is black or white */
body {
    top: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    box-sizing: border-box;
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Verdana, Tahoma, sans-serif;

}


#root {
    display: block;
    background-color: #f2f2f2;
}

a {
    white-space: nowrap;
}

#inner-root {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#inner-root-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;;
    align-content: center;
    width: 80%;
}

.orange-btn {
    background-color: #f50;
    color: white;
    border: none;
    text-decoration: none;
}

.hide-audio-player {
    display: none;
    z-index: -1;
}
