/* TODO Add site wide styles */

/** Orange Color: #f50 */
/** DISPLAYNAME COLOR: #999  */
/** LIGHT GRAY BG COLOR #717070 */
/* Everything else is black or white */
body {
    top: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
    /* background-color: white; */
    box-sizing: border-box;
}


#root {
    display: block;
    /* padding-right: 1000px; */
    background-color: #f2f2f2;
}

a {
    white-space: nowrap;
}

#inner-root {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#inner-root-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;;
    align-content: center;
    width: 80%;
}

.orange-btn {
    background-color: #f50;
    color: white;
    border: none;
    text-decoration: none;
}
