/* TODO Add site wide styles */

/** Orange Color: #f50 */
/* Everything else is black or white */
body {
    top: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
    background-color: white;
    box-sizing: border-box;
}
