#library {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0;
}

#library-inner {
    display: flex;
    flex-direction: column;
    width: 65%;
    background-color: #fff;
    margin-bottom: 50px;
    min-height: 100vh;
}

#active-tab {
    font-size: 24px;
    margin: 10px 12px;
}

#liked-songs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
