.hidden {
  display: none;
}

#main-nav__container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  gap: 10px;
  background-color: #333;
  padding-bottom: 15px;
  padding-top: 15px;
  /* margin-bottom: 30px; */
  z-index: 9999;
}

#nav-element__container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .nav-ad {
  color: #f50 !important;
} */

.nav-linkedin, .nav-github {
  color: #f50 !important;
}

#user-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
}

.nav-bar__element {
  font-size: 15px;
  margin: 0 15px;

}

.nav-bar__element > a {
  text-decoration: none;
  color: #ccc;
}

.nav-bar__element > a:hover {
  color: white;
}


.dropdown-button {
  /* border: 2px solid red; */
  /* z-index: 1; make button on top */
}

.dropdown-list {
  /* put absolute so the entire div pops up */
  position: absolute;
  top: 30px;
  text-decoration: white;
  background-color: gray;
  box-shadow: 3px 3px 3px black;
  /* border: 3px solid green; */
}

.dropdown-nav {
  list-style-type: none;
  padding: 10px;
}

.dropdown-nav > li > a{
  text-decoration: none;
  color: white;
}

.dropdown-nav > li {
  margin-bottom: 5px;
}

.profile-dropdown {
  display: flex;
  flex-direction: column;
}

/** SEARCH */
.search {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;


  /* border: 5px solid yellow; */
}

.search-bar {
  width: 230px;
  height: 25px;
  border-radius: 5px;
}

.search-button {
  position: absolute;
  margin-right: 5px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
