.hidden {
  display: none;
}

#main-nav__container {
  display: flex;
  justify-content: center;
}

.nav-bar__element {
  font-size: 13px;
}

.profile-dropdown {
  position: relative;
  /* display: flex;
  flex-direction: column;
  align-items: center; */
}

.dropdown-button {
  background: none;
  border: none;
  cursor: pointer;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1; /* Ensure the dropdown is above other elements */
}

.profile-dropdown:hover .dropdown-menu {
  display: block;
}
/*
#profile-button__main-container {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  margin-right: 1rem;
} */
