#song-detail__main-container {
    height: 100vh;
    width: 100%;
}

#song-details__top-container {
    display: flex;
    /* flex-direction: row; */
    justify-content: space-between;
    /* background-color: #333; */
    background: #717070;

}

#song-details__bot-container {
    display: flex;
    flex-direction: column;
}

#song-details__content {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-width: 0;
}

#song-details__nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

#song-details__nav-bar-buttons {
    display: flex;
    max-height: 40px;
}

.song-details__title {
    font-size: 24px;
}

.song-details__title, .song-details__display-name {
    background: black;
    color: white;
    padding: 10px;
    margin-left: 10px;
    font-weight: 100;
    width: fit-content;
    word-break: break-word;
    word-wrap: break-word;
    hyphens: auto;
    -webkit-hyphens: auto;
    -webkit-word-break: break-all;
}

.song-details__display-name {
    color: #ccc !important;
    font-weight: 100;
    font-size: 16px;
}

.song-details__thumbnail > img {
    width: 340px;
    height: 340px;
    /* margin: 15px; */
    padding: 20px;
}

.song-details__waveform > img {
    width: 800px;
    margin-left: 30px;
    padding-bottom: 20px;
}

#song-details__left-side {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.song-details__play-btn-container {
    font-size: 50px;
    cursor: pointer;
}

#play-content__container {
    display: flex;
    align-items: center;
    /* margin: 30px; */
    padding-left: 30px;
}

.btn-container > img {
    width: 25px;
    height: 25px;
}

#song-details__song-stats-container, #song-details__nav-bar, #song-details__description-comments {
    display: flex;
    padding-left: 50px;
    padding-top: 0;
    margin-top: 15px;
    margin-bottom: 15px;
}

#song-details__description-comments {
    flex-direction: column;
}

.song-details__profile-picture {
    max-height: 40px
}

#song-details__input-container {
    background-color: #e5e5e5;
    padding: 5px 5px 5px 0;
}

.song-details__input {
    /* width: 600px; */
    width: 45rem;
    height: 30px;
    margin-left: 10px;
    border: 1px solid #e5e5e5;
    background: #fff;
    outline: none;
    cursor: pointer;
    z-index: 1;
}

.song-details__profile-picture > img {
    width: 40px;
    height: 40px;
}

#song-details__song-stats-container {
    align-items: center;
}

/** USER COMMENTS */
#user-comment__main {
    display: flex;
    flex-direction: column;
    /* width: 100%; */
    width: 80%;
    margin-bottom: 50px;
}

#user-comment__container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 60%;
}

#user-displayname {
    color: #999
}

#user-time-delete {
    display: flex;
}

.user-delete {
    opacity: 0;
}

.display-comment-date {
    opacity: 1;
}

/** EDIT MODAL */
#edit__main-container {
    display: flex;
    flex-direction: column;
    padding: 50px;
    width: 100%;
    height: 100%;
}
#edit-wrapper {
    width: 100%;
    height: 100%;
}

/* #edit__main-container div {
    padding: 5px;
    margin: 5px;
} */

.edit-song-img > img {
    width: 200px;
    height: 200px;
}
.edit-song-and-form__container {
    display: flex;
}
