.nav-bar__ul {
    display: flex;
    gap: 10px;
}

.nav-bar__ul > li {
    list-style-type: none;
}

.nav-bar__lists > a, .nav-bar__bangersounds-link > a {
    color: black;
    text-decoration: none;
}

#nav-bar__container {
    display: flex;
    justify-content: space-between;
}

.nav-bar__bangersounds-link {
    display: flex;
    align-items: center;
}

#new-song__upload-space {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#new-song__upload-button > button {
    padding: 10px;
}

#new-song__upload-button {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#new-song__submit {
    display: flex;
    gap: 10px;
}

.new-song__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}

.select-container {
    position: relative;
}

.select__dropdown {
    position: static;
    cursor: pointer;
}

/** Can use this globally */
.orange-btn-outline-txt {
    color: #f50;
    border-color: #f50;
}

.orange-btn-white-txt {
    background-color: #f50;
    color: white;
}

.white-btn-black-txt {
    background-color: white;
    color: black;
    border: none;
}
